<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div align="center">
    <h1>Exception Handler 사용하기</h1>
    <h3>SimpleMappingExceptionResolver를 이용한 방식</h3>
    <button onclick="location.href='simple-null'">NullPointerException 테스트</button>
    <button onclick="location.href='simple-user'">사용자 정의 Exception 테스트</button>

    <h3>@ExceptionHandler 어노테이션을 이용한 방식</h3>
    <button onclick="location.href='annotation-null'">NullPointerException 테스트</button>
    <button onclick="location.href='annotation-user'">사용자 정의 Exception 테스트</button>

</div>

</body>
</html>