<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div align="center">
    <h1>@ModelAttribute를 이용한 커맨드 객체로 파라미터 값 전달받기</h1>
    <form action="search" method="post">
        검색할 메뉴의 이름: <input type="text" name="name"><br>
        검색할 메뉴의 가격: <input type="number" name="price"><br>
        검색할 메뉴의 카테고리:
        <select name="categoryCode">
            <option value="1">식사</option>
            <option value="2">음료</option>
            <option value="3">디저트</option>
        </select><br>

        검색할 판매 상태: <input type="text" name="orderableStatus"><br>
        <button type="submit">검색하기</button>
    </form>
</div>
</body>
</html>